@import '_variables.scss';
@import '_mixins.scss';

.searchBar {
  display: flex;
  margin: 0 auto 20px;
  max-width: 600px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include minDesktop {
    margin-bottom: 40px;
  }
}

.searchBar__input {
  flex: 1;
  padding: 8px 16px;
  font-size: 14px;

  border: 1px solid $gray-color;
  border-radius: 4px 0 0 4px;

  transition: border-color 300ms;

  &:focus {
    border-color: $black-color;
  }

  @include tablet {
    padding: 10px 18px;
    font-size: 16px;
  }

  @include minDesktop {
    padding: 12px 20px;
    font-size: 18px;
  }
}

.searchBar__button {
  padding: 8px 16px;

  font-size: 14px;
  color: $white-color;

  background-color: $black-color;

  border: none;
  border-radius: 0 4px 4px 0;

  transition: background-color 300ms;

  &:hover {
    background-color: $accent-black-color;
  }

  @include tablet {
    padding: 10px 18px;
    font-size: 16px;
  }

  @include minDesktop {
    padding: 12px 20px;
    font-size: 18px;
  }
}
