@import '_variables.scss';
@import '_mixins.scss';

.footer {
  padding: 16px 0;

  background-color: $white-color;
  border-top: 1px solid #eaeaea;

  @include tablet {
    padding: 20px 0;
  }
}

.text {
  font-size: 12px;
  text-align: center;

  color: #777;

  @include tablet {
    font-size: 14px;
  }

  @include minDesktop {
    font-size: 16px;
  }
}
