@import '_variables.scss';
@import '_mixins.scss';

.toggleButton {
  display: block;
  margin: 0 auto 20px;
  padding: 6px 12px;

  background-color: $black-color;

  font-size: 14px;
  color: $white-color;

  border: none;
  border-radius: 4px;

  transition: background-color 300ms;

  &:hover {
    background-color: $accent-black-color;
  }

  @include tablet {
    margin-bottom: 30px;
    padding: 8px 16px;

    font-size: 16px;
  }

  @include minDesktop {
    margin-bottom: 40px;
    padding: 10px 20px;
  }
}
